<!DOCTYPE HTML>
<html lang="en">
  {% if current_page.id == "index" %}
    {% set is_front_page = true %}
  {% endif %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>
      {% if is_front_page %}
        {{ site_title }}{% if meta.tagline %} - {{ meta.tagline|striptags }}{% endif %}
      {% else %}
        {{ meta.title }} | {{ site_title }}
      {% endif %}
    </title>
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}">
    {% endif %}
    {% if current_page %}
      <link rel="canonical" href="{{ current_page.url }}">
    {% endif %}
    <link rel='dns-prefetch' href='//maxcdn.bootstrapcdn.com'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ theme_url }}/assets/css/main.css">
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ theme_url }}/assets/css/ie9.css"><![endif]-->
    <noscript><link rel="stylesheet" href="{{ theme_url }}/assets/css/noscript.css"></noscript>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "{{ site_title }}",
        "url": "{{ base_url }} "
      }
    </script>
  </head>
  <body>

    <!-- Wrapper -->
    <div id="wrapper">
      {% if is_front_page %}
        <!-- Header -->
        <header id="header">
          <div class="logo">
            <span class="icon fa-{{ meta.icon }}"></span>
          </div>
          <div class="content">
            <div class="inner">
              <h1>{{ site_title }}</h1>
              <p>{{ meta.description }}</p>
            </div>
          </div>
          <nav>
            <ul>
              {% for page in pages()|sort_by([ 'meta', 'nav' ]) %}
                {% if not page.hidden %}
                  <li><a href="#{{ page.id|replace({'/':'-'}) }}">{{ page.title }}</a></li>
                {% endif %}
              {% endfor %}
              <li><a href="#contact">Contact</a></li>
            </ul>
          </nav>
        </header>

        <!-- Main -->
        <div id="main">
          {% for page in pages()|sort_by([ 'meta', 'nav' ]) %}
            {% if not page.hidden %}
              <article id="{{ page.id|replace({'/':'-'}) }}">
                <h2 class="major">{{ page.title }}</h2>
                {% if page.meta.image %}
                  <span class="image main">
                    <img src="{{ page.meta.image|url }}" alt="{{ page.title }}">
                  </span>
                {% endif %}
                {{ page.id|content }}
              </article>
            {% endif %}
          {% endfor %}

          <!-- Contact -->
          <article id="contact">
            <h2 class="major">Contact</h2>
            <form method="post" {% if meta.form %}action="{{ meta.form|url }}"{% endif %}>
              <div class="field half first">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" required>
              </div>
              <div class="field half">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" required>
              </div>
              <div class="field">
                <label for="message">Message</label>
                <textarea name="message" id="message" rows="4" required></textarea>
              </div>
              <ul class="actions">
                <li><input type="submit" value="Send Message" class="special"></li>
                <li><input type="reset" value="Reset"></li>
              </ul>
            </form>
            <ul class="icons">
              {% for icon, link in meta.social %}
                <li><a href="{{ link|url }}" class="icon fa-{{ icon }}"><span class="label">{{ icon }}</span></a></li>
              {% endfor %}
            </ul>
          </article>
          <!-- Modal 404 Content -->
          <article id="404">
            <h2 class="major">Error 404</h2>
            <p>Sorry, that page wasn't found.</p>
          </article>
        </div>
      {% else %}
      <!-- Page Content -->
        <article>
          <h2 class="major">{{ meta.title }}</h2>
          {% if meta.image %}
            <span class="image main">
              <img src="{{ meta.image|url }}" alt="{{ meta.title }}">
            </span>
          {% endif %}
          {{ content }}
        </article>
      {% endif %}

      <!-- Footer -->
      <footer id="footer">
        <p class="copyright">&copy; {{ "now"|date("Y") }} {{ site_title }}. Design: <a href="https://html5up.net">HTML5 UP</a> | Powered By: <a href="https://besrourms.github.io" target="_blank">Mohamed Safouan Besrour</a></p>
      </footer>

    </div>

    <!-- BG -->
    <div id="bg"></div>

    <!-- Scripts -->
    <script src="{{ theme_url }}/assets/js/jquery.min.js"></script>
    <script src="{{ theme_url }}/assets/js/skel.min.js"></script>
    <script defer src="{{ theme_url }}/assets/js/util.min.js"></script>
    {% if is_front_page %}
      <script defer src="{{ theme_url }}/assets/js/main.js"></script>
    {% endif %}

  </body>
</html>
