<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<title>{{ meta.title }} | {{ site_title }}</title>
		<link rel="stylesheet" href="{{ theme_url }}/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{{ theme_url }}/assets/css/ie9.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="{{ theme_url }}/assets/css/noscript.css" /></noscript>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">
				<article>
					<h2 class="major">{{ meta.title }}</h2>
					<span class="image main"><img src="{{ meta.image }}" alt="{{ meta.title }}" /></span>
					<p>{{ content }}</p>
				</article>
			
				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; {{ site_title }}. Design: <a href="https://html5up.net">HTML5 UP</a> | Powered By: <a href="https://besrourms.github.io">Mohamed Safouan Besrour</a></p>
					</footer>
			</div>
		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="{{ theme_url }}/assets/js/jquery.min.js"></script>
			<script src="{{ theme_url }}/assets/js/skel.min.js"></script>
			<script src="{{ theme_url }}/assets/js/util.js"></script>
			<!--<script src="{{ theme_url }}/assets/js/main.js"></script>-->

	</body>
</html>